.arrow{
	width:32px;
	height:54px;
	background:url('arrows.png') no-repeat;
	position:fixed;
	top:50%;
	margin-top:-27px;
	cursor:pointer;
	text-indent:-9999px;
	overflow:hidden;
	opacity:0.8;
	border:none !important;
	text-decoration:none !important;
	
	-moz-transition:0.2s opacity;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}

.arrow:hover{
	opacity:1;
}

#arrowLeft{
	left:45px;
}

#arrowRight{
	right:45px;
	background-position:top right;
}

div {
    
    background-color: red;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
}

p {
    font-size: 72px;
    color: white;
}